.hidden
  #addUser
    .noteWrap.col-md-10.col-md-offset-1
      br
      h3 Nouvel utilisateur
      br
      .row
        br
        form.form-horizontal(role='form')
          .row
            .col-md-6
              .form-group
                label.col-sm-3.control-label(for='')
                  | Nom 
                  span.symbol.required
                  |  :
                .col-sm-8
                  span.input-icon
                    input#nom.form-control(type='text', name='u_nom', placeholder="Nom de l'utilsateur" required)
                    i.fa.fa-user
              .form-group
                label.col-sm-3.control-label(for='')
                  | Prenom 
                  span.symbol.required
                  |  :
                .col-sm-8
                  span.input-icon
                    input#prenom.form-control(type='text', name='u_prenom' , placeholder="Prenom de l'utilisateur" required)
                    i.fa.fa-user
              .form-group
                label.col-sm-3.control-label(for='')
                  | Téléphone 
                  span.symbol.required
                  |  :
                .col-sm-8
                  span.input-icon
                    input#tel.form-control.input-mask-phone(type='text', name='u_telephone' , placeholder="Téléphone de l'utilisateur" required)
                    i.fa.fa-phone
              .form-group
                label.col-sm-3.control-label(for='')
                  | email 
                  span.symbol.required
                  |  :
                .col-sm-8
                  span.input-icon
                    input#mail.form-control(type='text', name='u_email' , placeholder="email de l'utilisateur" required)
                    i.fa.fa-envelope
            .col-sm-6
              .form-group
                label.col-sm-3.control-label(for='')
                  | Identifiant 
                  span.symbol.required
                  |  :
                .col-sm-8
                  span.input-icon
                    input#login.form-control(type='text', name='u_pseudo' , placeholder="Identifiant de l'utilisateur" required)
                    i.fa.fa-user
              .form-group
                label.col-sm-3.control-label(for='')
                  | Profil 
                  span.symbol.required
                  |  :
                .col-sm-8
                  select#profil.form-control(name='u_profil' required)

              .form-group
                label.col-sm-3.control-label(for='')
                  | Mot de passe 
                  span.symbol.required
                  |  :
                .col-sm-8
                  span.input-icon
                    input#pass.form-control(type='text', name='u_pwd', minlength = 6 ,placeholder="Mot de passe de l'utilisateur" required)
                    i.fa.fa-lock
              #groupConfirm.form-group
                label.col-sm-3.control-label(for='')
                  | Confirmation 
                  span.symbol.required
                  |  :
                .col-sm-8
                  span.input-icon
                    input#confirmPass.form-control(type='text', name='u_pwd2' , placeholder="Confirmatin du mot de passe de l'utilisateur" required)
                    i.fa.fa-lock
          br
          br
          .row
            .col-md-12
              div
                br
                span.symbol.required
                | Ces champs sont obligatoires.
          .row
            .col-md-12
              .col-md-9
                p
              .col-md-2
                a.btn.btn-green.btn-block(onclick='create_new_utilisateur()')
                  | Enregistrer 
                  i.fa.fa-arrow-circle-right


