footer.inner
  .footer-inner
    .pull-left
      script.
        document.write(`${new Date().getFullYear()} © Prorôle une application LegalTech Priorities.`);
    .pull-right
      span.go-top
        i.fa.fa-chevron-up