header.topbar.navbar.navbar-inverse.navbar-fixed-top.inner
  // start: TOPBAR CONTAINER
  .container
    .navbar-header
      if (message)
        | #{message}
      a.sb-toggle-left.hidden-md.hidden-lg(href='#main-navbar')
        i.fa.fa-bars
      // start: LOGO
      
      // end: LOGO
    .topbar-tools
      // start: TOP NAVIGATION MENU
      ul.nav.navbar-right
        // start: USER DROPDOWN
        li.dropdown.current-user
          a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', data-close-others='true', href='#')
            if (cabinet)
              span.username #{cabinet.denomination}
              i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-dark
            li
              a(href='/logout')
                | Deconnecter
        // end: USER DROPDOWN
      // end: TOP NAVIGATION MENU
      // end: TOPBAR CONTAINER
