#horizontal-menu.navbar.navbar-inverse.hidden-sm.hidden-xs.inner
  .container
    .navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/')
            | Accueil
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            | Dossiers 
            i.icon-arrow
          ul.dropdown-menu
            li.hidden-xs
              a(href='/dossiers/dossier/create')
                span.title  Créer un nouveau dossier 
            li.hidden-xs
              a(href='/dossiers')
                | Repertoire de dossiers
            li
              a(href='/dossiers/manques')
                | Defauts de renvoi
            li
              a(href='/dossiers/role_general')
                | Renvois au rôle général
            li
              a(href='/dossiers/conclusion_a_prendre')
                | Conclusions à prendre
            li
              a(href='/dossiers/decision_a_lever')
                | Décisions à lever
        //- li.dropdown
        //-   a.dropdown-toggle(data-toggle='dropdown', href='#')
        //-     | Agendas 
        //-     i.icon-arrow
        //-   ul.dropdown-menu
        //-     li
        //-       a(href='/agenda/audiencier')
        //-         span.title  Audiencier 
        //-     li
        //-       a(href='/agenda/carnet_adresses')
        //-         span.title  Carnet d'adresses 
        //-li
          a(href='/ratios/indicateur')
            span.title  Indicateurs 
        li.hidden-xs
          a(href='/administrateur/configuration_du_cabinet')
            | Compte