#horizontal-menu.navbar.navbar-inverse.hidden-sm.hidden-xs.inner
  .container
    .navbar-collapse
      ul.nav.navbar-nav.hidden-xs
        li
          a(href='/')
            | Accueil
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            | Dossier 
            i.icon-arrow
          ul.dropdown-menu
            li
              a(href='/dossiers/dossier/create')
                span.title  Nouveau dossier 
            li
              a(href='/dossiers')
                | Repertoire de dossiers
            li
              a(href='/dossiers/manques')
                | Defaut de renvoi
            li
              a(href='/dossiers/role_general')
                | Renvoi au rôle général
            //li
              a(href='#')
                | Dossiers en cours
            //li
              a(href='#')
                | Repartition des dossiers
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            | Agenda 
            i.icon-arrow
          ul.dropdown-menu
            li
              a(href='/agenda/audiencier')
                span.title  Audiencier 
            li
              a(href='/agenda/diligences')
                span.title  Tables des dilligences 
            li
              a(href='#')
                span.title  Rendez-vous 
            li
              a(href='/agenda/carnet_adresses')
                span.title  Carnet d'adresses 
        li
          a(href='/ratios/indicateur')
            span.title  Indicateurs 
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Administrateur 
            i.icon-arrow
          ul.dropdown-menu
            li
              a(href='/administrateur/configuration_du_cabinet')
                | Parametre du cabinet
            li
              a(href='/administrateur/utilisateurs')
                | Répertoire des utilisateurs