block navbar
  // start: TOPBAR
  header.topbar.navbar.navbar-inverse.navbar-fixed-top.inner
    // start: TOPBAR CONTAINER
    .container
      .navbar-header
        a.sb-toggle-left.hidden-md.hidden-lg(href='#main-navbar')
          i.fa.fa-bars
        // start: LOGO
        a.navbar-brand(href='/')
          img(src='/assets/images/logo.png', alt='Logo Prorole')
        // end: LOGO
      .topbar-tools
        // start: TOP NAVIGATION MENU
        ul.nav.navbar-right
          // start: USER DROPDOWN
          li.dropdown.current-user
            a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', data-close-others='true', href='#')
              img.img-circle(src='/assets/images/avatar-1-small.jpg', alt='')
              span.username.hidden-xs Peter Clark
              i.fa.fa-caret-down
            ul.dropdown-menu.dropdown-dark
              li
                a(href='pages_user_profile.html')
                  | My Profile
              li
                a(href='pages_calendar.html')
                  | My Calendar
              li
                a(href='pages_messages.html')
                  | My Messages (3)
              li
                a(href='login_lock_screen.html')
                  | Lock Screen
              li
                a(href='login_login.html')
                  | Log Out
          // end: USER DROPDOWN 