block sidebar
  nav#pageslide-left.pageslide.inner
    //- .navbar-content
    //-   // start: SIDEBAR
    //-   .main-navigation.left-wrapper.transition-left
    //-     .navigation-toggler.hidden-sm.hidden-xs
    //-       a.sb-toggle-left(href='#main-navbar')
    //-     .user-profile.border-top.padding-horizontal-10.block
    //-       .inline-block
    //-         img(src='/assets/images/avatar-1.jpg', alt='')
    //-       .inline-block
    //-         h5.no-margin  Welcome 
    //-         h4.no-margin  Peter Clark 
    //-     // start: MAIN NAVIGATION MENU
    //-     ul.main-navigation-menu
    //-       li.active.open
    //-         a(href='index.html')
    //-           i.fa.fa-home
    //-           span.title  Dashboard 
    //-           span.label.label-default.pull-right LABEL
    //-     // end: MAIN NAVIGATION MENU
    //-     // end: SIDEBAR
    //- .slide-tools
    //-   .col-xs-6.text-left.no-padding
    //-     a.btn.btn-sm.status(href='#')
    //-       | Status 
    //-       i.fa.fa-dot-circle-o.text-green
    //-       span Online
    //-   .col-xs-6.text-right.no-padding
    //-     a.btn.btn-sm.log-out.text-right(href='login_login.html')
    //-       i.fa.fa-power-off
    //-       |  Log Out
  // end: PAGESLIDE LEFT