#slidingbar-area
  #slidingbar
    //- .row
    //-   // start: SLIDING BAR FIRST COLUMN
    //-   .col-md-4.col-sm-4
    //-     h2 Mes options
    //-     .row
    //-       .col-xs-6.col-lg-3
    //-         button.btn.btn-icon.btn-block.space10
    //-           i.fa.fa-folder-open-o
    //-           | 							Projets 
    //-           span.badge.badge-info.partition-red  4 
    //-       .col-xs-6.col-lg-3
    //-         button.btn.btn-icon.btn-block.space10
    //-           i.fa.fa-envelope-o
    //-           | 							Messages 
    //-           span.badge.badge-info.partition-red  23 
    //-       .col-xs-6.col-lg-3
    //-         button.btn.btn-icon.btn-block.space10
    //-           i.fa.fa-calendar-o
    //-           | 							Calendrier 
    //-           span.badge.badge-info.partition-blue  5 
    //-       .col-xs-6.col-lg-3
    //-         button.btn.btn-icon.btn-block.space10
    //-           i.fa.fa-bell-o
    //-           | 							Notifications 
    //-           span.badge.badge-info.partition-red  9 
    //-   // end: SLIDING BAR FIRST COLUMN
    //-   // start: SLIDING BAR SECOND COLUMN
    //-   .col-md-4.col-sm-4
    //-     h2 Mes projets recents
    //-     .blog-photo-stream.margin-bottom-30
    //-       ul.list-unstyled
    //-         li
    //-           a(href='#')
    //-             img(alt='', src='/assets/images/image01_th.jpg')
    //-         li
    //-           a(href='#')
    //-             img(alt='', src='/assets/images/image02_th.jpg')
    //-         li
    //-           a(href='#')
    //-             img(alt='', src='/assets/images/image03_th.jpg')
    //-         li
    //-           a(href='#')
    //-             img(alt='', src='/assets/images/image04_th.jpg')
    //-         li
    //-           a(href='#')
    //-             img(alt='', src='/assets/images/image05_th.jpg')
    //-         li
    //-           a(href='#')
    //-             img(alt='', src='/assets/images/image06_th.jpg')
    //-         li
    //-           a(href='#')
    //-             img(alt='', src='/assets/images/image07_th.jpg')
    //-         li
    //-           a(href='#')
    //-             img(alt='', src='/assets/images/image08_th.jpg')
    //-         li
    //-           a(href='#')
    //-             img(alt='', src='/assets/images/image09_th.jpg')
    //-         li
    //-           a(href='#')
    //-             img(alt='', src='/assets/images/image10_th.jpg')
    //-   // end: SLIDING BAR SECOND COLUMN
    //-   // start: SLIDING BAR THIRD COLUMN
    //-   .col-md-4.col-sm-4
    //-     h2 Mes informations
    //-     address.margin-bottom-40
    //-       | Richard Elad
    //-       br
    //-       | 					12345 Foulani Kaoura, Niamey, Niger
    //-       br
    //-       | 					P: (641)-734-4763
    //-       br
    //-       | 					Email:
    //-       a(href='#')
    //-         | r.elad@example.com
    //-     a.btn.btn-transparent-white(href='#')
    //-       i.fa.fa-pencil
    //-       |  Modifier
    //-   // end: SLIDING BAR THIRD COLUMN
    //- .row
    //-   // start: SLIDING BAR TOGGLE BUTTON
    //-   .col-md-12.text-center
    //-     a.sb_toggle(href='#')
    //-       i.fa.fa-chevron-up
    //-   // end: SLIDING BAR TOGGLE BUTTON
