.toolbar.row
  .col-sm-6.col-xs-12
    .page-header
       a(href='/')
        img(src='/images/logo80.png', alt='Prorôle')
  .col-sm-6.col-xs-12
    a.back-subviews(href='#')
      i.fa.fa-chevron-left
      |  Retour
    a#close.close-subviews(href='#')
      i.fa.fa-times
      |  Fermer
    .toolbar-tools.pull-right
      // start: TOP NAVIGATION MENU
      ul.nav.navbar-right
        // start: TO-DO DROPDOWN