.toolbar.row
  .col-sm-6.col-xs-12
    .page-header
       a(href='/')
        img(src='/images/logo80.png', alt='Prorôle')
      //- h1
        span.text-bold PRORôLE
        small
          | Une application 
          a(href='#', target='target') LegalTech Priorities
          | .
  .col-sm-6.col-xs-12
    a.back-subviews(href='#')
      i.fa.fa-chevron-left
      |  Retour
    a.close-subviews(href='#')
      i.fa.fa-times
      |  Fermer
    .toolbar-tools.pull-right
      // start: TOP NAVIGATION MENU
      ul.nav.navbar-right
        // start: TO-DO DROPDOWN
        //- li.menu-search
          a.show-calendar(href='#showCalendar')
            i.fa.fa-calendar
            | Audiciencier
        //- #readNote
        //- a.read-all-notes(href='')
        //- li.menu-search
          a.read-all-notes(href='')
            i.fa.fa-file-text
            | Notes
        //- 
        //- li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', data-close-others='true', href='#')
            span.messages-count.badge.badge-default.hide 3
            i.fa.fa-envelope
            |  Messages
          //ul.dropdown-menu.dropdown-light.dropdown-messages
            li
              span.dropdown-header  Vous avez 9 messages
            li
              .drop-down-wrapper.ps-container
                ul
                  li.unread
                    a.unread(href='javascript:;')
                      .clearfix
                        .thread-image
                          img(src='/assets/images/avatar-2.jpg', alt='')
                        .thread-content
                          span.author Nicole Bell
                          span.preview Duis mollis, est non commodo luctus, nisi erat porttitor ligula...
                          span.time  Just Now
                  li
                    a.unread(href='javascript:;')
                      .clearfix
                        .thread-image
                          img(src='/assets/images/avatar-3.jpg', alt='')
                        .thread-content
                          span.author Steven Thompson
                          span.preview Duis mollis, est non commodo luctus, nisi erat porttitor ligula...
                          span.time 8 hrs
                  li
                    a(href='javascript:;')
                      .clearfix
                        .thread-image
                          img(src='/assets/images/avatar-5.jpg', alt='')
                        .thread-content
                          span.author Kenneth Ross
                          span.preview Duis mollis, est non commodo luctus, nisi erat porttitor ligula...
                          span.time 14 hrs
            li.view-all
              a(href='message.php')
                | Lire plus
        //- li.menu-search.hidden-xs
          a(href='#')
            i.fa.fa-search
            | Rechercher
          // start: SEARCH POPOVER
          //.popover.bottom.search-box.transition-all
            .arrow
            .popover-content
              // start: SEARCH FORM
              form#searchform(action='#')
                .input-group
                  input.form-control(type='text', placeholder='Rechercher')
                  span.input-group-btn
                    button.btn.btn-main-color.btn-squared(type='button')
                      i.fa.fa-search
              // end: SEARCH FORM
              // end: SEARCH POPOVER
              // end: TOP NAVIGATION MENU
