extends ../layout
append styles
  link(rel='stylesheet', href='/assets/plugins/weather-icons/css/weather-icons.min.css')
  link(rel='stylesheet', href='/assets/plugins/nvd3/nv.d3.min.css')

block content
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li
          | Indicateur
        li.active
          | #{title}
  .row
    .col-md-6
      .panel.panel-white
        .panel-heading
          h4.panel-title
            | Durée de  
            span.text-bold resolution du litige
          .panel-tools
            .dropdown
              a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                i.fa.fa-cog
              ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                li
                  a.panel-collapse.collapses(href='#')
                    i.fa.fa-angle-up
                    span Afficher
                li
                  a.panel-refresh(href='#')
                    i.fa.fa-refresh
                    span Actualise
                li
                  a.panel-expand(href='#')
                    i.fa.fa-expand
                    span Plein écran
        .panel-body
          .height-100
              h4
                | La durée de résolution du litige est de 7 mois
    .col-md-6
      .panel.panel-white
        .panel-heading
          h4.panel-title
            | Durée probable de  
            span.text-bold resolution du litige
          .panel-tools
            .dropdown
              a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                i.fa.fa-cog
              ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                li
                  a.panel-collapse.collapses(href='#')
                    i.fa.fa-angle-up
                    span Afficher
                li
                  a.panel-refresh(href='#')
                    i.fa.fa-refresh
                    span Actualise
                li
                  a.panel-expand(href='#')
                    i.fa.fa-expand
                    span Plein écran
        .panel-body
          .col-md-12
            .height-100
              h4
                | La durée probable de résolution du litige est de 10 mois

  .row
    .col-md-6
      .panel.panel-white
        .panel-heading.border-light
          h4.panel-title
            | Gains 
            span.text-bold possibles
          ul.panel-heading-tabs.border-light
            li
              .pull-right
                .btn-group
                  a.btn.btn-green.dropdown-toggle(data-toggle='dropdown', href='#')
                    | Tools 
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li.dropdown-header(role='presentation')
                      | Dropdown header
                    li
                      a(href='#')
                        | Action
                    li
                      a(href='#')
                        | Another action
                    li
                      a(href='#')
                        | Something else here
                    li.divider
                    li.dropdown-header(role='presentation')
                      | Dropdown header
                    li
                      a(href='#')
                        | Separated link
            li
              .rate
                i.fa.fa-caret-up.text-green
                span.value 11
                span.percentage %
            li.panel-tools
              .dropdown
                a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                  i.fa.fa-cog
                ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                  li
                    a.panel-collapse.collapses(href='#')
                      i.fa.fa-angle-up
                      span Afficher
                  li
                    a.panel-refresh(href='#')
                      i.fa.fa-refresh
                      span Actualise
                  li
                    a.panel-expand(href='#')
                      i.fa.fa-expand
                      span Plein écran
        .panel-body.partition-green
          .col-md-12
            .height-350
              #chart4.with-3d-shadow.with-transitions
                svg
    .col-md-6
      .panel.panel-white
        .panel-heading.border-light
          h4.panel-title
            | Perte 
            span.text-bold encourue
          ul.panel-heading-tabs.border-light
            li
              #reportrange.pull-right
                span This Week 
                i.fa.fa-angle-down
            li
              .rate
                i.fa.fa-caret-up.text-green
                span.value 15
                span.percentage %
            li.panel-tools
              .dropdown
                a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                  i.fa.fa-cog
                ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                  li
                    a.panel-collapse.collapses(href='#')
                      i.fa.fa-angle-up
                      span Afficher
                  li
                    a.panel-refresh(href='#')
                      i.fa.fa-refresh
                      span Actualise
                  li
                    a.panel-expand(href='#')
                      i.fa.fa-expand
                      span Plein écran
        .panel-body.no-padding.partition-green
          .col-md-3.col-lg-2.no-padding
            .partition-body.padding-15
              ul.mini-stats
                li.col-md-12.col-sm-4.col-xs-4.no-padding
                  .sparkline-bar.sparkline-1
                    span
                  .values
                    strong 18304
                    | Sales
                li.col-md-12.col-sm-4.col-xs-4.no-padding
                  .sparkline-bar.sparkline-2
                    span
                  .values
                    strong $3,833
                    | Earnings
                li.col-md-12.col-sm-4.col-xs-4.no-padding
                  .sparkline-bar.sparkline-3
                    span
                  .values
                    strong $848
                    | Referrals
          .col-md-9.col-lg-10.no-padding.partition-white
            .partition
              .partition-body.padding-15
                .height-350
                  #chart1.with-3d-shadow.with-transitions
                    svg

append jscripts
  script(src='/assets/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js')
  script(src='/assets/plugins/nvd3/lib/d3.v3.js')
  script(src='/assets/plugins/nvd3/nv.d3.min.js')
  script(src='/assets/plugins/nvd3/src/models/historicalBar.js')
  script(src='/assets/plugins/nvd3/src/models/historicalBarChart.js')
  script(src='/assets/plugins/nvd3/src/models/stackedArea.js')
  script(src='/assets/plugins/nvd3/src/models/stackedAreaChart.js')
  script(src='/assets/plugins/jquery.sparkline/jquery.sparkline.js')
  script(src='/assets/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js')
  script(src='/assets/js/index.js')
  script.
    jQuery(document).ready(function() {
    Main.init();
    SVExamples.init();
    Index.init();
    });