extends ../layout
append styles
  //- CSS REQUIRED FOR THIS PAGE ONLY
  link(href='/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css', rel='stylesheet')
  link(rel='stylesheet', href='/assets/plugins/slider/css/slider.css')
  link(rel='stylesheet', href='/assets/plugins/jQRangeSlider/css/classic-min.css')
block content
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li
          | Ratios
        li.active
          | #{title}
  .row
    .col-md-12
      .panel.panel-white
        .panel-heading
          h4.panel-title
            | Durée de  
            span.text-bold resolution du litige
          .panel-tools
            .dropdown
              a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                i.fa.fa-cog
              ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                li
                  a.panel-collapse.collapses(href='#')
                    i.fa.fa-angle-up
                    span Afficher
                li
                  a.panel-refresh(href='#')
                    i.fa.fa-refresh
                    span Actualise
                li
                  a.panel-expand(href='#')
                    i.fa.fa-expand
                    span Plein écran
        .panel-body
          table.table.sliders.table-striped
            tbody
              tr
                td #{title}
                td
                  .example
                    #slider_example_3.slider-purple

append jscripts
   //- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY
  script(src='/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js', type='text/javascript')
  script(src='/assets/plugins/jQRangeSlider/jQAllRangeSliders-min.js')
  script(src='/assets/plugins/modernizr/modernizr.js')
  script(src='/assets/plugins/slider/js/bootstrap-slider.js')
  script(src='/assets/plugins/jQuery-Knob/js/jquery.knob.js')
  script(src='/assets/js/ui-sliders.js')
  script.
    jQuery(document).ready(function() {
      Main.init();
      SVExamples.init();
      UISliders.init();
    });   