/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.dos-text{
  padding-top: 7px;
  text-align: left;
  margin-bottom: 0;
}

input[readonly] {
 background-color: #dddddd;
}

.text-noir{
  color: black!important;
}


.text-upper{
  text-transform: uppercase;
}

div.dropdown-wrapper { 
    /*width: auto; */ /* Sets the width of your dropdown */
}

div.dropdown-wrapper select { 
    width:115% /* This hides the arrow icon */; 
    background-color:transparent /* This hides the background */; 
    background-image:none; 
    -webkit-appearance: none /* Webkit Fix */; 
    border:none; 
    box-shadow:none; 
    padding:0.3em 0.5em; 
}
