extends ../layout

block content
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li.active
          | Modification du mot de passe
    // end: BREADCRUMB
    // start: PAGE CONTENT
    form#form.form-horizontal(role='form', method='POST')
      .row
        .col-md-12
          .panel.panel-white
            .panel-heading
              h4.panel-title
                | Modification du mot de passe du 
                span.text-bold compte de cabinet
            .panel-body
              .row
                .col-md-6
                  .form-group
                    label.col-sm-3.control-label
                      | Mot de passe :
                    .col-sm-8
                      input#password.form-control(type='text', placeholder='Saisir un mot de passe', name='password', min='8', required, onchange='check_char(this)')
                .col-sm-6
                  .form-group
                    label.col-sm-5.control-label
                      | Confirmer le mot de passe :
                    .col-sm-5
                      input#config.form-control(type='text', placeholder='Confirmer votre mot de passe', name='confirm', min='8', required, onchange='check_char(this); compare()')
      .row
        .col-md-12
          .panel.panel-white
            .panel-body
              .row
                .col-md-9
                    span.symbol.required
                    | Ces champs sont obligatoires.
                .col-md-3
                  button.btn.btn-green.btn-block(type='submit')
                    | Modifications du mot de passe du comptes 
                    i.fa.fa-arrow-circle-right
append jscripts
  script(src='/javascripts/update_cabinet.js')       
