extends ../layout

block content
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='index.php')
            | Accueil
        li.active
          | Modification du compte du cabinet
    // end: BREADCRUMB
    // start: PAGE CONTENT
    form#form.form-horizontal(role='form', method='POST', action='/administrateur/configuration_du_cabinet/page_de_modification/#{configuration._id}')
      .row
        .col-md-12
          .panel.panel-white
            .panel-heading
              h4.panel-title
                | Modification du 
                span.text-bold compte de cabinet
              .panel-tools
                .dropdown
                  a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                    i.fa.fa-cog
                  ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                    li
                      a.panel-collapse.collapses(href='#')
                        i.fa.fa-angle-up
                        span Cacher
                    li
                      a.panel-refresh(href='#')
                        i.fa.fa-refresh
                        span Actualiser
                    li
                      a.panel-expand(href='#')
                        i.fa.fa-expand
                        span Plein écran
                //
                  <a class="btn btn-xs btn-link panel-close" href="#">
                  <i class="fa fa-times"></i>
                  </a>
            .panel-body
              .row
                .col-md-6
                  .form-group
                    label.col-sm-3.control-label(for='')
                      | Identifiant 
                      span.symbol.required
                      |  :
                    .col-sm-8
                      if (configuration.identifiant)
                        label.form-control(type='text', placeholder='Identifiant du cabinet', name='identifiant') #{configuration.identifiant}
                      else
                        input.form-control(type='text', placeholder='Identifiant du cabinet', name='identifiant' value=(undefined===configuration.identifiant ? '' : configuration.identifiant))
                  .form-group
                    label.col-sm-3.control-label(for='')
                      | Denommination S. 
                      span.symbol.required
                      |  :
                    .col-sm-8
                      input.form-control(type='text', placeholder='Denommination sociale', name='denomination', value=(undefined===configuration.denomination ? '' : configuration.denomination))
                  .form-group
                    label.col-sm-3.control-label(for='')
                      | Siège Social 
                      span.symbol.required
                      |  :
                    .col-sm-8
                      input.form-control(type='text', placeholder='Siège social', name='siege_social' value=(configuration.siege_social) ? configuration.siege_social : '')
                  .form-group
                    label.col-sm-3.control-label(for='')
                      | Adresse complete 
                      span.symbol.required
                      |  :
                    .col-sm-8
                      input.form-control(type='text', placeholder='Adresse complete du cabinet', name='adresse' value=(configuration.adresse) ? configuration.adresse : '')
                .col-sm-6
                  .form-group
                    label.col-sm-3.control-label
                      | Téléphone 
                      span.symbol.required
                      |  :
                    .col-sm-8
                      input#form-field-mask-2.form-control.input-mask-phone(type='text', placeholder='Téléphone', name='telephone', value=(configuration.telephone) ? configuration.telephone : '', pattern='^[0-9]*$')
                  .form-group
                    label.col-sm-3.control-label(for='')
                      | email 
                      span.symbol.required
                      |  :
                    .col-sm-8
                      input.form-control(type='email', placeholder='Email', name='email', value=(configuration.email) ? configuration.email : '')
                  .form-group
                    label.col-sm-3.control-label(for='')
                      | Mot de passe 
                      span.symbol.required
                      |  :
                    .col-sm-8
                      input.form-control(type='password', placeholder='Mot de passe', name='password', value=(configuration.password) ? configuration.password : '')
                  .form-group
                    label.col-sm-3.control-label(for='')
                      | Confirmation 
                      span.symbol.required
                      |  :
                    .col-sm-8
                      input.form-control(type='password', placeholder='Confirmation Mot de passe', name='confirm_password', value=(configuration.password) ? configuration.password : '')
              .row.margin-right-30
                .col-sm-2.pull-right.margin-right-10
                  button.btn.btn-green.btn-block(type='submit')
                    | Enregistrer 
                    i.fa.fa-arrow-circle-right
  append jscripts
    script(type='text/javascript', src='/javascripts/page_de_modification.js')