extends ../layout

block content
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='index.php')
            | Accueil
        li.active
          | Annuaire téléphonique
  // end: BREADCRUMB
  // start: PAGE CONTENT
  .row
    .col-md-12
      // start: DYNAMIC TABLE PANEL
      .panel.panel-white
        .panel-heading
          h4.panel-title
            | Annuaire 
            span.text-bold téléphonique
        .panel-body
          .table-responsive
            table#sample-table-2.table.table-striped.table-hover
              thead
                tr
                  th Nom & prenom
                  th Email
                  th Téléphone
              tbody
                each p in carnet
                  tr
                    th #{atob(p.prenom_nom)}
                    th #{atob(p.email)}
                    th #{atob(p.tel)}
append jscripts
  // start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY
  script(src='/assets/plugins/holder/holder.js')
  script(src='/assets/plugins/tableExport/tableExport.js')
  script(src='/assets/plugins/tableExport/jquery.base64.js')
  script(src='/assets/plugins/tableExport/html2canvas.js')
  script(src='/assets/plugins/tableExport/jquery.base64.js')
  script(src='/assets/plugins/tableExport/jspdf/libs/sprintf.js')
  script(src='/assets/plugins/tableExport/jspdf/jspdf.js')
  script(src='/assets/plugins/tableExport/jspdf/libs/base64.js')
  script(src='/assets/js/table-export.js')
  script.
    jQuery(document).ready(function() {
    TableExport.init();
    });