extends ../layout

append styles
  link(href='/stylesheets/fullcalendar/fullcalendar.min.css', rel='stylesheet')
  link(href='/stylesheets/fullcalendar/fullcalendar.print.min.css', rel='stylesheet', media='print')
  style.
    body {
    //margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    }
    #calendar {
    background-color: white;
    max-width: 90%;
    margin: 0 auto;
    }
    .fc-event .fc-content > span:first-child:before, .event-category:before{
      display:none;
    }
    .event-bg-affaire{
      color:black!important;
      background-color:white!important;
    }
    .event-bg-affaire-retard{
      color:red!important;
      background-color:white!important;
    }
    .text-upper-retard{
      color:red!important;
    }
    
    .fc-day-header{padding-top: 5px!important; padding-bottom: 5px!important;text-transform: capitalize;}
block content
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li
          | Agenda
        li.active
          | #{title}
  #calendar.padding-10

append jscripts
  script.
    $(document).ready(function(){
      //$(".event-category:before").css('display','none');
      //});
    });
  script(src='/assets/js/custom-calendrier-mise-etat.js')
  script(src='/assets/js/custom-new-dossier.js')
  script(src='/javascripts/fullcalendar/moment.min.js')
  script(src='/javascripts/fullcalendar/fullcalendar.min.js')
  script(src='/javascripts/fullcalendar/locale-all.js')
  script(src='/javascripts/audiencier.js')
  
  