extends ../layout
append styles
  link(href='/stylesheets/fullcalendar/fullcalendar.min.css', rel='stylesheet')
  link(href='/stylesheets/fullcalendar/fullcalendar.print.min.css', rel='stylesheet', media='print')
  link(href='/stylesheets/agenda.css', rel='stylesheet')
    
block content
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li
          | Agenda
        li.active
          | #{title}
  #calendar.hid-mobile.padding-10
  #calendar-xs.padding-10
append jscripts
  script(src='/assets/js/custom-calendrier-mise-etat.js')
  script(src='/assets/js/custom-new-dossier.js')
  script(src='/javascripts/fullcalendar/moment.min.js')
  script(src='/javascripts/fullcalendar/fullcalendar.min.js')
  script(src='/javascripts/fullcalendar/locale-all.js')
  script(src='/javascripts/audiencier.js')
  
  