extends ../layout

block content
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li
            | Dossier
        li.active
          | Nouveau dossier
  // end: BREADCRUMB
  // start: PAGE CONTENT
  form.form-horizontal
    .row
      .col-md-12
        .panel.panel-white
          .panel-heading
            h4.panel-title
              span.text-bold DOSSIER
          .panel-body
            .row
              .col-md-6
                .form-group
                  label.col-sm-3.control-label
                    | Réf. dossier physique :
                  .col-sm-4
                    input#ref_d_p.form-control(placeholder='Réference physique')
    .row
      .col-md-6
        .panel.panel-white
          .panel-heading
            h4.panel-title
              span#tiltle_p.text-bold CLIENT
          .panel-body.buttons-widget
            .form-group
              label.col-sm-3.control-label
                | Dénomination 
                span.symbol.required
                |  :
              .col-sm-8
                span.input-icon
                  input#p_nom.form-control.text-capitalize(onchange='checkCell(this)', type='text', placeholder='Nom ou Dénommination sociale du client', list='p_list')
                  i.fa.fa-home
                  datalist#p_list
                span.form_error
            .form-group
              label.col-sm-3.control-label Téléphone :
              .col-sm-8
                span.input-icon
                  input#p_tel.form-control(type='number', placeholder='Téléphone du client')
                  i.fa.fa-phone
            .form-group
              label.col-sm-3.control-label e-mail :
              .col-sm-8
                span.input-icon
                  input#p_email.form-control(type='email', placeholder='Adresse electronique du client')
                  i.fa.fa-envelope    
      
      .col-md-6
        .panel.panel-white 
          .panel-heading
            h4.panel-title
              span#tiltle_c.text-bold ADVERSAIRE
          .panel-body.buttons-widget
            .form-group
              label.col-sm-3.control-label
                | Dénomination 
                span.symbol.required
                |  :
              .col-sm-8
                span.input-icon
                  input#c_nom.form-control.text-capitalize(onchange='checkCell(this)', type='text', placeholder='Nom ou Dénommination sociale de la partie adverse', list='c_list')
                  i.fa.fa-home
                  datalist#c_list
                span.form_error
            .form-group
              label.col-sm-3.control-label Téléphone :
              .col-sm-8
                span.input-icon
                  input#c_tel.form-control(type='number', placeholder='Téléphone  de la partie adverse')
                  i.fa.fa-phone
            .form-group
              label.col-sm-3.control-label e-mail :
              .col-sm-8
                span.input-icon
                  input#c_email.form-control(type='email', placeholder='Adresse electronique  de la partie adverse')
                  i.fa.fa-envelope    
    .row
      .col-md-12
        .panel.panel-white
          .panel-body
            .row
              .col-md-9
                  span.symbol.required
                  | Ces champs sont obligatoires.
              .col-md-2
                button#btn-validate.btn.btn-green.btn-block(onclick='creation()', data-toggle='modal')
                  | Enregistrer 
                  i.fa.fa-arrow-circle-right
  
  // end: PAGE CONTENT
append jscripts
  script(src='/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')
  script(src='/assets/js/custom-new-dossier.js')
  //script.
    function aff() {alert($('#c_dob').val())}